/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;
  font: inherit;*/
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: white;
  width: 100%;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  line-height: 1.7em; }

#pagewrapper {
  width: 1080px;
  min-height: 500px;
  margin: 0 auto; }

header {
  background-color: #044404;
  color: #61c161;
  height: 50px;
  width: 1080px;
  border-bottom: 2px solid #050505;
  position: fixed;
  top: 0px; }
  header #header-left {
    float: left;
    padding-top: 22px;
    padding-left: 12px;
    width: 520px; }
    header #header-left h1 {
      font-size: 170%; }
  header #header-right {
    float: right;
    padding-top: 25px;
    padding-right: 12px; }
    header #header-right .userdata {
      float: left;
      margin-left: 80px;
      font-size: 130%; }
    header #header-right .homelink {
      text-decoration: none;
      color: #61c161; }
    header #header-right a.homelink:hover {
      color: #050505;
      transition: all .4s; }
    header #header-right .helplink {
      float: left;
      margin-left: 150px;
      font-size: 150%; }
    header #header-right .helplink:hover {
      color: #050505;
      cursor: pointer;
      transition: all .4s; }

#contentwrapper {
  top: 60px;
  width: 1080px;
  min-height: 300px;
  background-color: white;
  line-height: 1.5em; }

#maincontent {
  width: 706px;
  padding-left: 20px;
  margin-top: 80px;
  float: left; }
  #maincontent h1.pageheader {
    font-size: 170%;
    margin-bottom: 20px; }
  #maincontent h2.pagesubtitle {
    font-size: 130%;
    margin-top: -8px;
    margin-bottom: 12px; }
  #maincontent p.landingtext {
    text-align: justify;
    padding-right: 40px; }

nav {
  width: 354px;
  margin-top: 120px;
  float: right;
  line-height: 1.7em; }
  nav #row1 {
    width: 200px;
    float: left;
    border: 2px solid #61c161; }
  nav #row2 {
    position: relative;
    left: -2px;
    width: 146px;
    float: left;
    border: 2px solid #61c161;
    display: none;
    transition: all .4s; }
  nav a.navlink.row1, nav a.navlink.row2 {
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    float: left;
    background-color: #044404;
    color: #61c161;
    padding: 12px 0; }
  nav a.navlink.row1 {
    width: 200px; }
  nav a.navlink.row2 {
    width: 146px; }
  nav a.navlink:hover {
    background-color: #050505;
    transition: all .4s; }
  nav .bottomborder {
    border-bottom: 2px solid #050505; }

#help {
  display: none;
  position: fixed;
  top: 60px;
  min-height: 600px;
  border: 2px solid #050505;
  margin: 10px 20px;
  width: 1030px;
  background-color: #3fc13f; }
  #help #helptext {
    padding: 10px 12px;
    line-height: 1.5em; }
    #help #helptext h1 {
      font-size: 160%;
      margin-bottom: 12px; }
    #help #helptext .question {
      font-size: 120%;
      color: black;
      padding-bottom: 6px;
      padding-top: 6px;
      border-top: 2px dashed black; }
    #help #helptext .answer {
      font-size: 100%;
      color: white;
      padding-left: 12px;
      padding-bottom: 12px; }
  #help .closehelp {
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 180%; }
  #help .closehelp:hover {
    background-color: #044404;
    cursor: pointer;
    transition: all .4s; }

footer {
  background-color: #044404;
  color: #61c161;
  font-size: 130%;
  height: 30px;
  width: 1080px;
  border-top: 2px solid #050505;
  position: fixed;
  bottom: 0px; }
  footer #footer-left {
    float: left;
    padding-left: 12px; }
  footer #footer-right {
    float: right;
    padding-right: 12px; }
    footer #footer-right #date, footer #footer-right #time {
      float: left;
      padding-left: 40px; }

form.loginform {
  width: 300px;
  padding: 12px 12px;
  margin-top: 40px;
  border: 2px solid #050505;
  background-color: #044404;
  color: #61c161; }
  form.loginform label {
    font-weight: bold;
    font-size: 115%; }
  form.loginform input {
    margin-bottom: 12px; }

input.submitbutton {
  background-color: #61c161;
  padding: 6px 12px;
  color: #050505;
  font-size: 115%; }

input.inputfield {
  padding: 6px 2px;
  font-size: 110%;
  border: 2px solid #050505; }

.error {
  color: #8e1812;
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 120%; }

.clear:after {
  content: "";
  display: table;
  clear: both; }
